#banner {
    background-image: url('../img/lemur.jpg');
    width: 100vw;
    height: 33vh;
    position: relative;
    background-repeat: no-repeat;
    text-align: center;
    margin-top: 0;
  }
  
  .banner h1 {
    margin-top:0;
    padding: 10rem 5rem;
    font-size: 5rem;
  }
  
  .main-info h2 {
    text-align: justify;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 1rem;

  }
  
  .projects {
    /* display:grid;
    grid-template-rows: [row-1-start] 30% [row-1-end row-2-start] 30% [row-2-end row-3-start] 30% ; */
  text-align: center;
  }
  
  .projects h1 {
    text-align: center;
  }
  
  .projects p {
    color: black;
    text-align: center;
    display: block;
  }
  
  .tile {
    display: inline-block;
    background-color: whitesmoke;
    width:350px;
    margin:2rem auto;
    border-radius: 25px;
   
  }
  
  @media (min-width: 43rem) {
    .tile {
      width:200px;
    }
  }
  
  .tile-image {
    width: 100%;
    border-radius: 25px 25px 0 0;
  }
  
  /* .tile_erpegowyYak,
  .tile_LMPublishing,
  .tile_downloads,
  .tile_otherProjects,
  .tile_patronage,
  .tile_about {
   width:100%;
   background-color: yellowgreen;
  } */
  
  .tile-textContainer {
    text-align: center;
    padding: 2rem;
    text-decoration: none;
    font-weight: 700;
  }
  
  .tile-textContainer a {
    text-decoration: none;
    color: black;
  }
  
  .tile-textContainer a:hover,
  .tile-textContainer a:active {
    text-decoration: underline;
    font-weight: 700;
    
  }
  
  .patronite {
    text-align: center;
  }